#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--color-accent-hover) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color-accent-hover),
    0 0 5px var(--color-accent-hover) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-accent-hover) !important;
  border-left-color: var(--color-accent-hover) !important;
}
